.currency-switcher-container {
    display: flex;
    flex-grow: 0;
    position: relative;
}

.currency-switcher-btn {
    margin-right: 5px;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 5px 0;
    width: 25px;
    font-weight: 700;
    flex-grow: 0;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.currency-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: -20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.currency-menu-item {
    display: flex;
    flex-direction: row;
    padding: 20px 50px;
    background-color: #fff;
    border: 1px solid #fff
}

.currency-menu-item:hover {
    background-color: #EEEEEE;
}

.hidden {
    display: none;
}

.currency-symbol {
    margin-right: 20px;

}

.carret {
    margin-left: 8px;
}